.wrapper-index {
    text-align: center;
}

.wrapper-about {
    text-align: center;
}

.color-list {
    list-style-type: none;
    
}

.about-list {
    list-style-type: none;
}

.footer-nav {
    list-style-type: none;
}

.red-orange-link a:link {
    color: rgb(255, 85, 0);
}

a:hover {
    font-size: 20px;
}

h1 {
    font-family: 'Blue Ocean';
    
}

h2 {
    font-family: 'Roman antique';
}

html {
    background-color: rgb(189, 231, 255);
}